@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


  body{
    background-color: #2b1b4a;
    font-family: 'Poppins', sans-serif;
    margin: 13px 169px 8px 137px;
    padding: 1px;
    }

header {
  
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2b1b4a;
  margin: 14px;
  }

nav {
  margin-left: auto; /* Adiciona margem à esquerda para empurrar o menu para a direita */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin-right: 20px;
}

.botao {
  background: transparent;
  color:#25D366;
  border: #25D366;
  padding: 10px 20px;
  border-radius: 2px;
  border-style: solid;
  margin: 5px;
  

}

.botao:hover {
  background-color: #25D366;
  color: #ffffff;
}

main{
  font-family: 'Poppins', sans-serif;
  font-weight: bold
}

main h1{
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bolder;
}
  main strong {
    color: #25D366;

  }
  main p {
    color: #ffffff;
    font-size: 1.125rem;
    
  }
  .botao {
    background: transparent;
    color:#25D366;
    border: #25D366;
    padding: 10px 20px;
    border-radius: 2px;
    border-style: solid;
    margin: 5px;
    width: 100%;
    
  
  }
  
  .botao:hover {
    background-color: #25D366;
    color: #ffffff;
  }

  main h2{
    color:#ffffff ;
    font-size: 2.25rem;
  }

  article .container {
    padding: 1.9rem 1.5rem;
    margin: 20px;
    background-color: #2b1b4a;
    color:#ffffff;
    width: 24%;
    height: 100%;
    display:inline-block;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300)
           
  }

  article .container h3 {
    color: #ffffff;
    text-align: center;  
  }

  article .container p {
    font-size: .9rem;
    padding: 1.9rem;
    text-align:left;
    }

  article .container hr {
    border: 2px solid#25D366;
    border-radius: .175rem;
    width: 6rem;
    position: absolute;
  }
  

  article .container:hover {
    border: 2px solid #25D366;
    border-radius: 3px;    
  }

aside{
  color: #ffffff;
}

aside strong {
  color: #25D366;
}

aside hr {
  border: 2px solid#25D366;
  border-radius: .175rem;
  position: absolute;
  width: 6rem;
  }

  aside p {
    font-size: .9rem;
    padding: 1.9rem;
    text-align: left;
    }
    

    .block {
      padding: 1.9rem 1.5rem;
      margin: 20px;
      background-color: #2b1b4a;
      color:#ffffff;
      width: 24%;
      height: 100%;
      display:inline-block;
      border-radius: 1px;
      border: 2px solid #25D366;           
    }

    .block h3 {
      color: #25D366;
      text-align: center;  
    }
  
    .block p {
      color: #ffffff;
      text-align: center;  
    }